.calculator {
    display:flex;
    flex-direction: column;
    background-color: #6a40f5;
    height: 95vh;
    width: 25vw;
     border-radius: 5%;
    box-shadow: 5px 10px #3508bd;
}
.display {
    display: flex;
    flex: 1 1 auto;
    background-color: #e9e2fe;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    margin: 20px;
    border-radius: 10%;
    border: 2px solid #f5ffaf;
    
}
.digitGroup {
    display: flex;
    flex: 12 12 0;
    background-color: #6a40f5;
    flex-direction: column;
    justify-content: space-around;
    padding: 3px;
    margin: 3px;
}
.opClearEquals {
    display: flex;
    flex: 8 8 0;
    background-color: #6a40f5;
    flex-direction: column;
    justify-content: center;
    padding: 3px;
    margin: 3px;
     border-radius: 10%;
}



.digRow1 {
    display:flex;
    flex: 1;
    background-color: #6a40f5;
    flex-direction: row;
    justify-content: space-around;
    margin: 2px;
    padding: 2px;
    
}
.digRow2 {
    display:flex;
    flex: 1;
    background-color: #6a40f5;
    flex-direction: row;
    justify-content: space-around;
    margin:2px;
    padding: 2px;
}
.digRow3 {
    display:flex;
    flex: 1;
    background-color: #6a40f5;
    flex-direction: row;
    justify-content: space-around;
    margin:2px;
    padding: 2px;
}

.operatorGroup {
    display: flex;
    flex: 2;
    background-color: #6a40f5;
    flex-direction: column;
    justify-content: space-around;
    margin: 2px;
    padding: 2px;
    /*gap: 2px;
    width: 14vw;
    height: 14vh;*/
}

.clearEquals {
    display: flex;
    flex: 1;
    background-color: #6a40f5;
    flex-direction: row;
    justify-content: space-around;
    /*align-items: space-around;*/
    margin: 2px;
    padding: 2px;
    /*width: 14vw;
    height: 14vh;*/
}


.opRow1 {
    display: flex;
    flex: 1;
    background-color: #6a40f5;
    flex-direction: row;
    justify-content: space-around;
} 
.opRow2 {
    display: flex;
    flex: 1;
    background-color: #6a40f5;
    flex-direction: row;
    justify-content: space-around;
}

/*children at very bottom of hierarchy 
don't need alignment because they don't have children?*/
.digits {
    flex: 1;
    margin: 2px;
    padding: 2px;
    background-color: #bcc5fb;
    border-radius: 15%;
    border: 2px solid #95ff99;
}

.operators {
    flex: 1;
    margin: 2px;
    padding: 2px;
    background-color: #cbbcfb;
    border-radius: 15%;
    border: 2px solid #ffdaaf;
}
.clear {
    flex: 1;
    margin: 2px;
    padding: 2px;
    background-color:#a2afff;
    border-radius: 15%;
    border: 2px solid #f5ffaf;
}
.equals {
    flex: 1;
    margin: 2px;
    padding: 2px;
    background-color: #a2afff;
    border-radius: 15%;
    border: 2px solid #f5ffaf;
}
.displayText {
    flex: 1;
    margin: 2px;
    padding: 2px;
    /*background: white; commented out because this would apply
    to a child item, not current item*/
}

.digits:active{
    transform: scale(0.90); 
    box-shadow: 3px 2px 2px 1px rgb(13 0 148 / 57%);
}
.operators:active {
    transform: scale(0.90); 
    box-shadow: 3px 2px 2px 1px rgb(227 195 107 / 57%);
}
.clear:active {
    transform: scale(0.90); 
    box-shadow: 3px 2px 2px 1px rgb(13 0 148 / 57%);
}
.equals:active {
    transform: scale(0.90); /*scale down to.9 of original size*/
    box-shadow: 3px 2px 2px 1px rgb(13 0 148 / 57%);
}