.calculator {
    display:flex;
    flex-direction: column;
    background-color: red;
    height: 95vh;
    width: 60vw;
}
.display {
    display: flex;
    flex: 1 1 auto;
    background-color: #7df37d;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    margin: 3px;
}
.digitGroup {
    display: flex;
    flex: 6 6 0;
    background-color: #69cb69;
    flex-direction: column;
    justify-content: space-around;
    padding: 3px;
    margin: 3px;
}
.opClearEquals {
    display: flex;
    flex: 4 4 0;
    background-color: #448344;
    flex-direction: column;
    justify-content: center;
    padding: 3px;
    margin: 3px;
}



.digRow1 {
    display:flex;
    flex: 1;
    background-color: orange;
    flex-direction: row;
    justify-content: space-around;
    margin: 2px;
    padding: 2px;
    
}
.digRow2 {
    display:flex;
    flex: 1;
    background-color: #e29200;
    flex-direction: row;
    justify-content: space-around;
    margin:2px;
    padding: 2px;
}
.digRow3 {
    display:flex;
    flex: 1;
    background-color: #d58a02;
    flex-direction: row;
    justify-content: space-around;
    margin:2px;
    padding: 2px;
}

.operatorGroup {
    display: flex;
    flex: 2;
    background-color: yellow;
    flex-direction: column;
    justify-content: space-around;
    margin: 2px;
    padding: 2px;
    /*gap: 2px;
    width: 14vw;
    height: 14vh;*/
}

.clearEquals {
    display: flex;
    flex: 1;
    background-color: #f6f641;
    flex-direction: row;
    justify-content: space-around;
    /*align-items: space-around;*/
    margin: 2px;
    padding: 2px;
    /*width: 14vw;
    height: 14vh;*/
}


.opRow1 {
    display: flex;
    flex: 1;
    background-color: #b0b0f2;
    flex-direction: row;
    justify-content: space-around;
} 
.opRow2 {
    display: flex;
    flex: 1;
    background-color: #7f7fc2;
    flex-direction: row;
    justify-content: space-around;
}

/*children at very bottom of hierarchy 
don't need alignment because they don't have children?*/
.digits {
    flex: 1;
    margin: 2px;
    padding: 2px;
}
.operators {
    flex: 1;
    margin: 2px;
    padding: 2px;
}
.clear {
    flex: 1;
    margin: 2px;
    padding: 2px;
}
.equals {
    flex: 1;
    margin: 2px;
    padding: 2px;
}
.displayText {
    flex: 1;
    margin: 2px;
    padding: 2px;
    /*background: white; commented out because this would apply
    to a child item, not current item*/
}